html,
body {
  background-color: #232323;
  --gray: #155263;
  --orange-dark: #ff6f3c;
  --orange-light: #ff9a3c;
  --yellow: #ffc93c;
}

.buffer {
  margin-top: 7vh;
}

.buffer iframe {
  margin-top: 0;
}

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }

  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
